from locust import HttpLocust, TaskSet, task
import json
import random

cities = ["Zurich", "London", "Cairo", "Venice", "Napoli", "Paris", "Moscow", "Basel", "Berlin", "Prague", "Barcelona", "Brussels"]
devices = ["MacBook", "Huawei", "IPhone", "Samsung", "HTC"]
NUM_VIDEOS = 1000000
NUM_USERS = 10000

class UserBehavior(TaskSet): 

	@task(1)
	def addView(self):
		data = {
			"videoId": random.randint(0, NUM_VIDEOS),
			"userId": random.randint(0, NUM_USERS),
			"location": random.choice(cities),
			"device": random.choice(devices),
			"timeStamp": "2016-01-25T21:34:55"
			}
		
		self.client.post("/view", data=json.dumps(data)
		, headers={'content-type': 'application/json'})

class WebsiteUser(HttpLocust):
	task_set = UserBehavior
	min_wait = 0
	max_wait = 0
	host = "http://{{groups['loadbalancer'][0]}}:8888"
