spring.datasource.url=jdbc:mysql://{{groups['database'][0]}}:3306/viewsdb
spring.datasource.username=dbuser
spring.datasource.password=dbpassword
spring.jpa.hibernate.ddl-auto=update
logging.file=logs/spring-boot-logging.log
server.port= 8020
graphite.hostname={{groups['grafana'][0]}}
graphite.port=2003
